body {
  background: #f2f2f2;
  font-family: Segoe UI,HelveticaNeue-Light,sans-serif;
}

.wrapper {
  margin: 30px auto;
  padding: 0 15px;
  max-width: 600px;
}

.user-info {
  text-align: center;
}

.user-info img {
  border-radius: 50%;
}

.user-contact {
  list-style: none;
}

.user-contact li {
}